# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# -----

# Otras cosas
.ilk
.pdb
.vs

# Por si acaso
.log
.txt

# Dependencias NO
!dependencies/**

# Builds
dependencies/**/builds
